.space {
    height: 2.5rem;
    width: 2.5rem;
}

button {
    outline: none;
}

.arrow {
    border-left: 30px solid #357edd;
    border-right: 30px solid #357edd;
    border-top: 20px solid #357edd;
    z-index: 1;
}

.playerSelect {
    width: 175px;
}

.name {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
}