.winMsg {
    border-radius: 5px;
}

.column {
    width: 65px;
}

.column:hover .red {
    border-top: red 20px solid;
}

.column:hover .black {
    border-top: black 20px solid;
}

.border {
    border: 10px solid #357edd;
}

.hide {
    visibility: hidden;
}
