.winMsg {
    transform: rotate(90deg);
    border-radius: 5px;
}

.arrow {
    border-top: 30px solid #357edd;
    border-bottom: 30px solid #357edd;
    border-right: 20px solid #357edd;
    border-radius: 20px;
    z-index: 4;
}

.column {
  width: 100%;

}

.column:hover .red {
  border-right: red 20px solid
}

.column:hover .black {
  border-right: black 20px solid
}

.name {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 60px;

}

.border {
  border: 10px solid #357edd;
}
